.sidebar {
  background-color: #03045e !important;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 0;
  width: 240px;
}

.sidebar .ant-menu {
  background-color: transparent !important;
  border-inline-end: none;
  width: 100%;
}

.sidebar .ant-menu-item {
  color: white !important;
  font-size: 17px;
  justify-content: flex-start;
  width: 100%;
  padding: 12px 24px;
}

.sidebar .ant-menu-item:hover {
  background-color: #1890ff !important;
  color: #e5f7ff !important;
}

.sidebar .ant-menu-item a {
  color: white !important;
  text-decoration: none;
  display: block;
  text-align: left;
  padding-left: 8px;
}

.sidebar .ant-menu-item-selected {
  color: #292828 !important;
  background-color: #1890ff !important;
}

.menu-header {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.logo-container {
  text-align: center;
  padding: 16px 0;
}

.sidebar-logo {
  width: 140px;
  margin-bottom: 8px;
}

.menu-top {
  flex-grow: 1;
  width: 100%;
}

.menu-bottom {
  width: 100%;
  border-top: 1px solid #444;
  padding-top: 10px;
}
