:root {
  margin: 0;
}

.app-layout {
  height: auto;
  display: flex;
  width: auto;
}
.app-header {
  color: white;
  text-align: center;
  font-size: 24px;
}

.app-content {
  padding: 24px;
  overflow-y: auto;
}
